/*----Estilos genéricos del body----*/
body{
  background: url(../img/background-mount.jpg) left top repeat;
  width: 100%;
  background-attachment: fixed;
}
/*--------Estilos del header--------*/
.header{
  height: 150px;
}
.img-logo{
  border-radius: 10px;
}
.nav-row{
  margin-bottom: 0;
}
.icons-nav{
  font-size: 15px !important;
}
.img-logo{
  float: right;
  margin-top: 15px;
  width: 180px;
  height: 130px;
}
.nav-style{
  background: #42f5ec;
}
.btn-style{
  background: #42a5f5;
}
.btn-style:hover{
  background-color: #42f592 !important;
  color: #000;
}
.header-title{
  margin-top: 10px !important;
  font-style: italic;
  color: #fff;
}
/*------Estilos para el contenido------*/
.icon-styles{
  color: #fff;
  font-size: 45px;
}
.height-left{
  height: 245px;
}
.central-col{
  height: 500px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.height-right-1{
  height: 270px;
}
.height-right-2{
  height: 220px;
}
.img-style{
  height: 100% !important;
  transition: border 0.5s;
}
.img-style:hover{
  border: 1px solid #fff;
}
.img-row{
  margin-bottom: 10px;
}
.side-col{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
