/*----Estilos genéricos del body----*/
body{
  background: url(../img/background-mount.jpg) left top repeat;
  width: 100%;
  background-attachment: fixed;
}
/*--------Estilos del header--------*/
.header{
  height: 150px;
}
.img-logo{
  border-radius: 10px;
}
.nav-row{
  margin-bottom: 0;
}
.icons-nav{
  font-size: 15px !important;
}
.text-nav{
  display: inline-block;
  margin: 0;
}
.img-logo{
  float: right;
  margin-top: 15px;
  width: 180px;
  height: 130px;
}
.nav-style{
  background: transparent;
  box-shadow: none;
}
.btn-style{
  background: #42f5ec;
}
.btn-style:hover{
  background-color: #42f592 !important;
  color: #000;
}
.header-title{
  margin-top: 10px !important;
  font-style: italic;
  color: #fff;
}
/*------Estilos para fotos principales------*/
.icon-styles{
  color: #fff;
  font-size: 45px;
}
.height-left{
  height: 245px;
}
.central-col{
  height: 500px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.height-right-1{
  height: 270px;
}
.height-right-2{
  height: 220px;
}
.img-style{
  height: 100% !important;
  transition: border 0.5s;
  width: 100%;
}
.img-style:hover{
  border: 1px solid #fff;
}
.img-row{
  margin-bottom: 10px;
}
.side-col{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
/*-----Estilos para el contenido-----*/
.title-style{
  background: rgba(66,165,245, 0.3);
}
.img-content-style{
  width: 300px;
  height: 200px;
  border-radius: 5px;
  float: left;
  margin-right: 24px;
}
.card-title{
  padding: 1px 24px 1px 24px;
}
.card-title > h3{
  margin-top: 20px;
}
.card-content{
  padding-top: 10px !important;
}
.chip-paragraph{
  margin: 0;
  float:left;
}
.content-icons{
  margin-top: 4px;
}
.clearfix:after{
  content: " ";
  clear: both;
  display: block;
}
.card-sup{
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}
.author-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.title{
  display: block;
  text-align: center;
  font-size: 25px;
}
.divider{
  border: 0.5px solid gray;
  height:0;
}
/*---------Estilos de comentarios---------*/
.card-comment-style{
  color: #fff;
}
@media all and (max-width:992px){
  .img-logo{
    width: 90%;
  }
}
